# Nicholas Early
## Week 8
### Python functions Continued

In [4]:
def full_name(fname,lname):
    return(fname + " " + lname)

In [6]:
full_name('Nick','Early')

'Nick Early'

In [9]:
#find a prime number
def prime(num):
    '''
    This function checks if a number is prime
    '''
    for n in range(2,num):
        if num%2==0:
            return str(num) + ' is not prime'
    else:
        return str(num) + 'is prime'

In [10]:
prime(16)

'16 is not prime'

In [37]:
def first_letter(txt):
    wdlist = txt.split()
    word1 = wdlist[0]
    word2 = wdlist[1]
    return word1[0]==word2[0]

In [38]:
txt = "Python Programs"
txt.split()

['Python', 'Programs']

In [39]:
first_letter(txt)

True

In [40]:
def first_letter(txt):
    wdlist = txt.split()
    return wdlist[0:0]==wdlist[1:0]

In [41]:
first_letter(txt)

True

In [42]:
#create thirty (10,20) = true
#create thirty (5,30) = true
#create thirty (10,10) = false
def create_thirty(n1,n2):
    if (n1+n2)==30 or n1==30 or n2==30:
        return True
    else:
        return False

In [43]:
create_thirty(10,20)

True

In [44]:
create_thirty(10,30)

True

In [45]:
create_thirty(10,10)

False

In [47]:
w = 'macdonalds'

In [52]:
w1 = w[:3].capitalize()

In [53]:
w2 = w[3:].capitalize()

In [54]:
w1+w2

'MacDonalds'

In [65]:
def caps_two_letters(word):
    if len(word) > 3: 
        w1 = word[:3].capitalize()
        w2 = word[3:].capitalize()
        return w1+w2
    else:
        return "sorry, this word must be longer than 3 letters"

In [66]:
caps_two_letters('macdonalds')

'MacDonalds'

In [67]:
caps_two_letters('cis')

'sorry, this word must be longer than 3 letters'

In [1]:
#Reverse the statement
str1 = "I am home"
lst = str1.split()

In [2]:
lst

['I', 'am', 'home']

In [3]:
lst.reverse()
lst

['home', 'am', 'I']

In [4]:
' '.join(lst)

'home am I'

In [10]:
def rv_stat(txt):
    #lst = txt.split()
    #lst.reverse()
    return ' '.join(txt.split()[::-1])

In [11]:
rv_stat('I am home')

'home am I'

In [14]:
#check if a list has number 5 next to number 5 somewhere in the list
#[3,4,5,5,10] -> true
#[3,4,5,6,5,8] -> false
def has_55(lst):
    for i in range(0,len(lst)-1):
        if lst[i] == 5 and lst[i+1] == 5:
            return True
        
    return False

In [16]:
has_55([3,4,5,5,8])

True

In [17]:
has_55([3,4,5,8,5])

False

In [19]:
#check code 001 in a list
# [1,4,0,0,1,5,6] -> True
# [1,4,0,4,5,2,6] -> False
# [0,5,6,0,5,1,6] -> True
def check_code(lst):
    
    code = [0,0,1,'s']
    
    for num in lst:
        if num == code[0]:
            code.pop(0) 
        
    return len(code) == 1

In [20]:
check_code([1,4,0,0,1,5,6])

True

In [21]:
check_code([1,4,0,4,5,2,6])

False

In [22]:
code = [0,0,1,'s']
code.pop(0)
code

[0, 1, 's']

In [23]:
code.pop(0)
code

[1, 's']

In [24]:
code.pop(0)
code

['s']

In [25]:
#Number of Arguments
def full_name(fname,lname):
    print(fname + ' ' + lname)
    
full_name('Jon','Clark')

Jon Clark

In [26]:
def full_name(*names):
    if len(names) == 1:
        print(names[0])
    else:
        print(names[0] + ' ' + names[1])
full_name('Jon','Clark')
full_name('Jon')

Jon Clark
Jon

In [31]:
def sum_nums(a,b):
    return sum((a,b))

In [32]:
sum_nums(10,5)

15

In [35]:
def sum_nums(*n):
    return sum(n) * 0.1

In [36]:
sum_nums(5,10,10)

2.5

In [37]:
def my_kids(child1,child2,child3):
    print ('my first child ' + child1 + ' my second child ' + child2 + ' my third child ' + child3)

In [38]:
my_kids('Nick', 'Erik', 'Mitch')

my first child Nick my second child Erik my third child Mitch

In [39]:
my_kids(child3 = 'Nick', child1='Erik', child2='Mitch')

my first child Erik my second child Mitch my third child Nick

In [7]:
#Default Parameter
def my_country(name = "USA"):
    print('I am from ' + name)

my_country('Italy')
my_country('india')
my_country()

I am from Italy
I am from india
I am from USA

In [8]:
def my_func(food):
    for x in food:
        print(x)
fruits = ['Apple', 'Orange', 'Cherry', 'Banana', 'Grape']

my_func(fruits)

Apple
Orange
Cherry
Banana
Grape

In [9]:
fruits[1:3]

['Orange', 'Cherry']

In [10]:
fruits[::3]

['Apple', 'Banana']

In [11]:
if 'Cherry' in fruits:
    print('yes')

yes