# Nicholas Early
## Week 5 - Week 6
### Python for loops

**General for loop format** 

<code>for item in object,
    statements do work</code>

In [1]:
sc = [68, 87, 90, 89, 92, 78, 88, 75, 67, 55]

In [2]:
cs

NameError: name 'cs' is not defined

In [3]:
sc

[68, 87, 90, 89, 92, 78, 88, 75, 67, 55]

In [4]:
for n in sc:
    print(n)

68
87
90
89
92
78
88
75
67
55

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
for n in sc:
    if (n % 2) == 0:
        print(n)

68
90
92
78
88

In [8]:
for n in sc:
    if (n % 2) != 0:
        print(n)

87
89
75
67
55

In [9]:
sc_num = 0

for n in sc:
    sc_num += n
print (sc_num)

789

In [10]:
sc_num = 0

for n in sc:
    sc_num += n
avg = sc_num/len(sc)
print (avg)

78.9

In [11]:
for letter in ' I am a student in CIS310':
    print(letter)

I

a
m

a

s
t
u
d
e
n
t

i
n

C
I
S
3
1
0

In [12]:
t = (5,7,9,10,14)

for n in t:
    print(n)

5
7
9
10
14

In [13]:
ls1 = [ (10,20), (30,40), (50,60), (70,80), (90,100)]

In [14]:
ls1

[(10, 20), (30, 40), (50, 60), (70, 80), (90, 100)]

In [15]:
for t in ls1:
    print(t)

(10, 20)
(30, 40)
(50, 60)
(70, 80)
(90, 100)

In [16]:
for (t1, t2) in ls1:
    print(t1)

10
30
50
70
90

In [17]:
for (t1, t2) in ls1:
    print(t2)

20
40
60
80
100

In [18]:
d = {"brand": "Ford", "model": "Mustang", "year": 1964}

In [19]:
d

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [20]:
for item in d:
    print(item)

brand
model
year

In [21]:
d.values()

dict_values(['Ford', 'Mustang', 1964])

In [22]:
d.keys()

dict_keys(['brand', 'model', 'year'])

In [23]:
d.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [24]:
for k,v in d.items():
    print(k)
    print(v)

brand
Ford
model
Mustang
year
1964

In [25]:
for v in d.values():
    print(v)

Ford
Mustang
1964

In [26]:
for tup in d.items():
    print(tup)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

In [27]:
d1 = {'k1':5, 'k2':8, 'k3':3}

In [28]:
d1.values()

dict_values([5, 8, 3])

In [29]:
sorted(d1.values())

[3, 5, 8]

In [30]:
fruits = ["Apple", "Banana", "Cheery"]

In [31]:
for f in fruits:
    print(f)

Apple
Banana
Cheery

In [32]:
#break statement
fruits = ["Apple", "Grape", "Orange", "Banana", "Cheery"]
for f in fruits:
    print(f)
    if f == "Banana":
        break;

Apple
Grape
Orange
Banana

In [33]:
for f in fruits:
    if f == "Banana":
        break;
    print(f)

Apple
Grape
Orange

In [34]:
#continue keyword
for f in fruits:
    if f == "Banana":
        continue;
    print(f)

Apple
Grape
Orange
Cheery

In [35]:
#Pythong built-in function - range()
range(6)

range(0, 6)

In [36]:
for num in range(6):
    print(num)

0
1
2
3
4
5

In [39]:
for num in range(2,6):
    print(num)

2
3
4
5

In [40]:
for num in range(1,30, 3):
    print(num)

1
4
7
10
13
16
19
22
25
28

In [41]:
for num in range(2,6):
    print(num)
else:
    print("Finish Printing")

2
3
4
5
Finish Printing

In [42]:
adj = ["red", "small", "large", "tasty"]
fruits = ["Apple", "Grape", "Orange", "Banana", "Cheery"]
for a in adj:
    for f in fruits:
        print(a,f)

red Apple
red Grape
red Orange
red Banana
red Cheery
small Apple
small Grape
small Orange
small Banana
small Cheery
large Apple
large Grape
large Orange
large Banana
large Cheery
tasty Apple
tasty Grape
tasty Orange
tasty Banana
tasty Cheery

In [43]:
adj = ["red", "small", "large", "tasty"]
fruits = ["Apple", "Grape", "Orange", "Banana", "Cheery"]
for a in adj:
    for f in fruits:
        if a == "red" and f == "Banana":
            continue;
        print(a,f)

red Apple
red Grape
red Orange
red Cheery
small Apple
small Grape
small Orange
small Banana
small Cheery
large Apple
large Grape
large Orange
large Banana
large Cheery
tasty Apple
tasty Grape
tasty Orange
tasty Banana
tasty Cheery

In [44]:
adj = ["red", "small", "large", "tasty"]
fruits = ["Apple", "Grape", "Orange", "Banana", "Cheery"]
for a in adj:
    for f in fruits:
        if a == "red" and f == "Banana":
            pass;
        print(a,f)

red Apple
red Grape
red Orange
red Banana
red Cheery
small Apple
small Grape
small Orange
small Banana
small Cheery
large Apple
large Grape
large Orange
large Banana
large Cheery
tasty Apple
tasty Grape
tasty Orange
tasty Banana
tasty Cheery