# Nicholas Early
## Week 3 09/10/2020
### python lists

In [1]:
my_list = [50,89,90,100,88]

In [2]:
my_list

[50, 89, 90, 100, 88]

In [3]:
my_list = [50,89,'Alice', 'Bob', 'Jen']

In [4]:
my_list

[50, 89, 'Alice', 'Bob', 'Jen']

In [5]:
len(my_list)

5

In [6]:
fruits = ['Apple', 'Banana', 'cherry', 'orange', 'kiwi']

In [7]:
fruits

['Apple', 'Banana', 'cherry', 'orange', 'kiwi']

In [8]:
my_list = [50, 89, 90, 'Alice', 'Bob', 'Jen']

In [9]:
my_list[2]

90

In [10]:
my_list[1:]

[89, 90, 'Alice', 'Bob', 'Jen']

In [11]:
my_list[:3]

[50, 89, 90]

In [12]:
fruis[:2]

NameError: name 'fruis' is not defined

In [13]:
fruits[:2]

['Apple', 'Banana']

In [14]:
fruits[1:4]

['Banana', 'cherry', 'orange']

In [16]:
fruits[-3:-1]

['cherry', 'orange']

In [17]:
fruits + ['Grape']

['Apple', 'Banana', 'cherry', 'orange', 'kiwi', 'Grape']

In [18]:
fruits[1] = 'Mango'

In [19]:
fruits

['Apple', 'Mango', 'cherry', 'orange', 'kiwi']

In [20]:
my_list * 2

[50, 89, 90, 'Alice', 'Bob', 'Jen', 50, 89, 90, 'Alice', 'Bob', 'Jen']

In [21]:
my_list

[50, 89, 90, 'Alice', 'Bob', 'Jen']

In [22]:
fruits[1] + 'Banana'

'MangoBanana'

In [23]:
fruits

['Apple', 'Mango', 'cherry', 'orange', 'kiwi']

In [24]:
fruits.append('banana')

In [25]:
fruits

['Apple', 'Mango', 'cherry', 'orange', 'kiwi', 'banana']

In [26]:
fruits.pop(0)

'Apple'

In [27]:
fruits

['Mango', 'cherry', 'orange', 'kiwi', 'banana']

In [28]:
fruits.pop

In [29]:
fruits.pop()

'banana'

In [30]:
ch_list = ['c', 'r', 'a', 'e,' 'b']

In [31]:
ch_list

['c', 'r', 'a', 'e,b']

In [32]:
ch_list.sort()

In [33]:
ch_list

['a', 'c', 'e,b', 'r']

In [34]:
ch_list.reverse()

In [35]:
ch_list

['r', 'e,b', 'c', 'a']

In [37]:
ch_list = ['r','e','b','c','a']

In [38]:
ch_list

['r', 'e', 'b', 'c', 'a']

In [39]:
list1 = [80,90,70]
list2 = [60,50,40]
list3 = [40,30,20]

In [40]:
nested_list = [list1, list2, list3]

In [41]:
nested_list

[[80, 90, 70], [60, 50, 40], [40, 30, 20]]

In [45]:
nested_list[0]

[80, 90, 70]

In [46]:
nested_list[0][0]

80

In [47]:
nested_list[1][1]

50