# Nicholas Early
## Week 6
### Python built in functions

In [3]:
#in operator
lst = [10,15,5,6,8,9,7,'a','b','c']
5 in lst

True

In [4]:
3 in lst

False

In [5]:
'a' in lst

True

In [6]:
lst2 = [10,20,30,40,50,60,70,80,90,100]

In [7]:
min(lst2)

10

In [8]:
max(lst2)

100

In [9]:
#using random library
from random import shuffle

In [10]:
shuffle(lst2)

In [11]:
lst2

[60, 40, 20, 100, 50, 70, 90, 80, 30, 10]

In [13]:
#randint, returns a random integer in a certain range
from random import randint

In [14]:
randint(0,50)

44

In [15]:
randint(0,50)

45

In [16]:
randint(0,50)

26

In [17]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [18]:
list(range(0,100,10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [19]:
myList = list(range(0,100,10))

In [20]:
myList

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [23]:
index = 0
for i in 'hello':
    print('The letter at index {} is {}'.format(index,i))
    index += 1

The letter at index 0 is h
The letter at index 1 is e
The letter at index 2 is l
The letter at index 3 is l
The letter at index 4 is o

In [25]:
# enumerate finction
for index, i in enumerate('hello'):
    print("The letter at index {} is {}".format(index,i))

The letter at index 0 is h
The letter at index 1 is e
The letter at index 2 is l
The letter at index 3 is l
The letter at index 4 is o

In [26]:
enumerate('hello')

In [27]:
lst1 = [1,2,3,4,5]
lst2 = ['a','b','c','d','g','r']

In [28]:
#zip function creates a list of tuples by zipping two lists
zip(lst1,lst2)

In [29]:
list(zip(lst1,lst2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'g')]