# Nicholas Early
## week 6
### python list comprehension

In [1]:
lst = []

for letters in 'hello':
    lst.append(letters)
lst

['h', 'e', 'l', 'l', 'o']

In [2]:
lst2 = [n**2 for n in range(0,11)]
lst2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
lst3 = [n for n in range(11) if n % 2 == 0]
lst3

[0, 2, 4, 6, 8, 10]

In [6]:
lst4 = [n for n in range(11) if n % 2 == 1]
lst4

[1, 3, 5, 7, 9]

In [8]:
lst5 = [n for n in range(101) if n % 2 == 0 and n % 5 == 0]
lst5

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [9]:
lst5 = ["Even" if n % 2 == 0 else "odd" for n in range(11)]
lst5

['Even',
 'odd',
 'Even',
 'odd',
 'Even',
 'odd',
 'Even',
 'odd',
 'Even',
 'odd',
 'Even']

In [10]:
c = [4,10,20,25.5,15,8,0,14.9]
f = [((9/5)*t+32) for t in c]

In [14]:
(c,f)

([4, 10, 20, 25.5, 15, 8, 0, 14.9],
 [39.2, 50.0, 68.0, 77.9, 59.0, 46.4, 32.0, 58.82])